@import url('https://fonts.googleapis.com/css2?family=Mandali:wght@300&display=swap');

p {
    color: black;
    font-family: 'Mandali', sans-serif;
    font-weight: 300;
    font-size: large;
    max-width: 70vw;
}


.block_container {
    display: grid;
    justify-content: center;
    align-items: top;
    /* max-height: 100vh; Full viewport height */
    /* max-width: 100%; */
}

.zoomed-in-image {
    /* max-height:70vh; */
    max-width: 70vw;
}