@import url('https://fonts.googleapis.com/css2?family=Mandali:wght@300&display=swap');

.about_main {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px; /* Adjust the gap between columns */
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
}

.text_column {
    color: black;
    font-family: 'Mandali', sans-serif;
    font-weight: 300;
    font-size: larger;
}

.photo-column {
    width: 80%;
}

.photo-column img {
    width: 100%;
}

@media (max-width: 768px) {
    /* Styles for mobile view */
    .about_main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px; /* Adjust the gap between columns */
        width: 100%;
    }
    .photo-column {
        width: 100%;
    }
}