.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
    gap: 30px; /* Adjust the gap between columns */
}

.column-ux {
    display: grid;
    gap: 30px; /* Adjust the gap between rows */
    height: 1800px;
    width: 100%;
}

.img-container-ux {
    overflow: hidden; /* Hide overflow */
    position: relative; /* For absolute positioning of images */
}

.img-container-ux img {
    width: 100%;
    object-fit: cover; /* Cover the container */
    position: relative; /* Absolute positioning for image */
    image-rendering: crisp-edges;
}

.img-container-ux img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.img-container-ux img:hover {
    transform: scale(1.1); /* Zoom in */
}

.arch_subheader h3 {
    margin-bottom: 0.5em; /* Space between title and line */
}

.arch_subheader hr {
    border: none;
    height: 1px;
    background-color: #595959; /* Color of the line */
    margin: 0; /* Reset default margin */
    margin-bottom: 2em;
}

.zoomed-in-image {
    width: 100%;
    height: 100%;
}