@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali:wght@300&display=swap');

/* Reset some default styles */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-weight: 300;
}

/* Apply a universal box-sizing rule */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 200px 1fr; /* Adjust 200px to the width of your sidebar */
    gap: 20px; /* This adds space between your columns */
    margin-bottom: 100px;
}

header {
    grid-column: 1 / -1; /* Header spans across all columns */
    text-align: left;
    padding-left: 60px;
    padding-top: 40px;
    height: 200px;
    /* padding-bottom: 80px; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

header a {
    text-decoration: none; /* Removes the underline */
    color: black;
}
header a:visited {
    text-decoration: none; /* Removes the underline */
    color: black;
}
header a:hover {
    text-decoration: none; /* Removes the underline */
    color: black;
}

header h3 {
    color: grey;
}

nav {
    text-align: left;
    padding-left: 60px;
    /* padding-top: 10px; */
    padding-right: 20px;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding-bottom: 20px;
    /* padding-top: 20px; */
}

nav a {
    font-family: 'Mandali', sans-serif;
    font-weight: 300;
    font-size: large;
    text-decoration: none; /* Removes the underline */
    color: black;
}

nav a:visited {
    color: black;
}

/* Optional: Style for hover effect */
nav a:hover {
    color: red; /* Changes color when hovered over */
}

main {
    /* padding-right: 20px; */
}

.column {
    text-align: center; /* Center content in each column */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the .image-container horizontally */
    align-items: center; /* Center the .image-container vertically */
}


.column img {
    width: 100%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    padding-bottom: 10px;
}

.column p {
    color: grey;
    font-family: 'Mandali', sans-serif;
    font-weight: 300;
    font-size: larger;
}

.underlined {
    text-decoration: underline;
}

.lowercase {
    text-transform: lowercase;
}

.home_main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 10px; /* Adjust the gap between columns */
    /* padding-right: 100px; */
}

.home_main a {
    display: inline-block; /* Allows styling dimensions */
    border: none; /* Style as needed */
    background: none; /* Style as needed */
    text-decoration: none; /* Removes underline from links */
    /* ... other styles ... */
}


@media (max-width: 768px) {
    /* Styles for mobile view */
    body {
        grid-template-columns: 1fr; /* All content stacks on one column */
    }

    header, nav, main {
        grid-column: 1;
    }
}

.gallery-main {
    padding-right: 40px;
}