@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mandali:wght@300&display=swap');

/* Reset some default styles */
body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-weight: 300;
}

/* Apply a universal box-sizing rule */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 150px 1fr; /* Adjust 200px to the width of your sidebar */
    gap: 20px; /* This adds space between your columns */
    margin-bottom: 100px;
}

header {
    grid-column: 1 / -1; /* Header spans across all columns */
    text-align: left;
    padding-left: 60px;
    padding-top: 40px;
    height: 200px;
    /* padding-bottom: 80px; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

header a {
    text-decoration: none; /* Removes the underline */
    color: black;
}
header a:visited {
    text-decoration: none; /* Removes the underline */
    color: black;
}
header a:hover {
    text-decoration: none; /* Removes the underline */
    color: black;
}

header h3 {
    color: grey;
}

nav {
    text-align: left;
    padding-left: 60px;
}

nav div {
    padding-bottom: 20px;
}

nav a {
    font-family: 'Mandali', sans-serif;
    font-weight: 300;
    font-size: large;
    text-decoration: none; /* Removes the underline */
    color: black;
}

nav a:visited {
    color: black;
}

/* Optional: Style for hover effect */
nav a:hover {
    color: red; /* Changes color when hovered over */
}

main {
    /* padding-right: 20px; */
}

.underlined {
    text-decoration: underline;
}

.lowercase {
    text-transform: lowercase;
}

.gallery-main {
    padding-right: 150px;
    padding-left: 40px;
}

@media (max-width: 768px) {
    /* Styles for mobile view */
    body {
        grid-template-columns: 1fr; /* All content stacks on one column */
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding-left: 0px;
    }

    nav div {
        text-align: center;
    }

    header {
        text-align: center;
        height: 100px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
    }

    .gallery-main {
        padding-right: 40px;
        padding-left: 40px;
    }
}