.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 30px; /* Adjust the gap between columns */
}

.column-ux {
    display: grid;
    gap: 30px; /* Adjust the gap between rows */
    /* height: 1100px; */
    width: 100%;
}

.column-ux:first-child {
    grid-template-rows: 50% 50%; /* Rows in 45:55 ratio for the first column */
}

.column-ux:last-child {
    grid-template-rows: 40% 60%; /* Rows in 35:65 ratio for the second column */
}

.img-container-ux {
    overflow: hidden; /* Hide overflow */
    width: 100%;
}

.img-container-ux img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container */
}

.img-container-ux img {
    transition: transform 0.3s ease;
}

.img-container-ux img:hover {
    transform: scale(1.1); /* Zoom in */
}